PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/literalura
SPRING_DATASOURCE_USERNAME=literalura_user
SPRING_DATASOURCE_PASSWORD=tu_password_aqui

# estrategia de generación/actualización del esquema de Hibernate (update | validate | create | none)
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# mostrar sentencias sql generadas en consola (true | false)
SPRING_JPA_SHOW_SQL=true
